<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Victor Tan's Deployment Page</title>
</head>

<body>
    <h1>Sample Page for Deployment on Render</h1>
	<ul>
        <li>Name: Victor Tan</a></li>
        <li>GitHub Location: <a href="https://github.com/ZythosU/victan3pTERP" target="_blank">https://github.com/ZythosU/victan3pTERP</a></li>
        <li>Render Location: <a href="https://victan3pTERP.onrender.com/" target="_blank">https://victan3pTERP.onrender.com/</a></li>
        <li>Clearing Database Movies:  <a href="/clearCollection">https://victan3pTERP.onrender.com/clearCollection </a></li>
        <li>Inserting Movies: <a href="/insertMovies">https://victan3pTERP.onrender.com/insertMovies</a></li>
        <li>List Movies: <a href="/listMovies">https://victan3pTERP.onrender.com/listMovies </a></li>

    </ul>
</body>

</html>