<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Victor Tan's Deployment Page</title>
</head>

<body>
	<ul>
        <li>Name: Victor Tan</a></li>
        <li>GitHub Location: <a href="https://github.com/ZythosU/Project-7-Hosting" target="_blank">https://github.com/ZythosU/Project-7-Hosting</a></li>
        <li>Render Location: <a href="https://project-7-hosting.onrender.com/" target="_blank"> </a></li>
        <li>Clearing Database Movies:  <a href="/clearCollection"> </a></li>
        <li>Inserting Movies: <a href="/insertMovies"> </a></li>
        <li>List Movies: <a href="/listMovies"> </a></li>

    </ul>
</body>

</html>